.description_group {
    position: absolute;
    top: 50%; /* Place button at vertical center */
    right: 22%; /* Place button at horizontal center */
    transform: translate(0%, -50%); /* Center button precisely */
    text-align: center;
    width: max(14vw, 30vh);
    height: max(14vw, 30vh);
    z-index: 2;
    transition: width 1s, height 1s; /* Add transition properties */
  }

