.background {
  z-index: -1;
}

.character {
  width: 8vw;
  height: 16vh;
  position: absolute;
  z-index: 1;
  top: 2vh;
  left: 2.25vw;
  transition: top 1s linear, left 1s linear;
}

.text {
  color: white;
}

.tile {
  position: absolute;
  background-color: rgb(105, 8, 8);
  height: 20vh;
  width: 12.5vw;
  border: 1px solid gold;
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: center;
}

.tile_text {
  color: white;
  font-size: min(2vw,3vh);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.roll_button {
  position: absolute;
  top: 50%; /* Place button at vertical center */
  left: 50%; /* Place button at horizontal center */
  transform: translate(-50%, -50%); /* Center button precisely */
  z-index: 1;
}