.background {
  z-index: -1;
}

.text {
  color: white;
}

.tile {
  position: absolute;
  background-color: rgb(105, 8, 8);
  height: 20vh;
  width: 12.5vw;
  border: 1px solid gold;
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: center;
}

.tile_text {
  color: white;
  font-size: min(2vw,3vh);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}