.background {
  z-index: -1;
}

.character {
  width: 8vw;
  height: 16vh;
  position: absolute;
  z-index: 1;
  top: 2vh;
  left: 2.25vw;
  transition: top 1s linear, left 1s linear;
}

.text {
  color: white;
}

.tile {
  position: absolute;
  background-color: rgb(105, 8, 8);
  height: 20vh;
  width: 12.5vw;
  border: 1px solid gold;
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: center;
}

.tile_text {
  color: white;
  font-size: min(1.5vw,3vh);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.dice_image {
  width: 5vw;
  height: 6vw;
  animation: floatUpDown 1s infinite alternate ease-in-out;
}

@keyframes floatUpDown {
  0% {
    transform: translate(0%, 0%)
  }
  100% {
    transform: translate(0%, -10%); /* Adjust the distance the image should move up and down */
  }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rotateAnimation {
  animation: rotate 200ms linear infinite;
}

.roll_group {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  bottom: 25%; /* Place button at vertical center */
  left: 50%; /* Place button at horizontal center */
  transform: translate(-50%, 0%); /* Center button precisely */
  z-index: 5;
}

.money_text {
  position: absolute;
  top: 22vh; /* Place button at vertical center */
  right: 16vw; /* Place button at horizontal center */
  z-index: 1;
  text-align: right;
  font-size: min(2vw,4vh);
  font-weight: bold;
}

.alert {
  position: absolute;
  top: 50vh; /* Place button at vertical center */
  left: 50vw; /* Place button at horizontal center */
  transform: translate(-50%, -50%); /* Center button precisely */
  z-index: 99;
  width: min(50vw, 70vh);
  height: min(25vw, 35vh);
  border-left: 12vw solid transparent;
  border-right: 12vw solid transparent;
  border-top: 12vh solid transparent;
  border-bottom: 12vh solid #2b2b2ba6;
  box-sizing: content-box;
  border-radius: 20%;
  overflow: hidden;
  background-color: #2b2b2ba6;
}

.alert_text {
  position: absolute;
  top: 50vh; /* Place button at vertical center */
  left: 50vw; /* Place button at horizontal center */
  transform: translate(-50%, -60%); /* Center button precisely */
  z-index: 100;
  width: min(40vw, 60vh);
  height: min(15vw, 30vh);
  font-size: min(2vw,3.5vh);
  color: rgb(245, 245, 197);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.alert_close {
  position: absolute;
  top: 60vh; /* Place button at vertical center */
  left: 50vw; /* Place button at horizontal center */
  transform: translate(-50%, 0%); /* Center button precisely */
  z-index: 100;
}

.alert_container {

}